option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "web_app:app"
  aws:elasticbeanstalk:environment:process:default:
    DUMMYTAILPATH: /dev/null
    PORT: 80
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
